* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

body{
	width: 970px;
}

/*TOP NAV*/

.top-nav{
	display: block;
	background-color: blue;
}

.top-nav div, li, h1, ul, button {
	display: inline-block;
	vertical-align: top;	
}

.top-nav div {
	width: auto;

}

.gray{
	color: gray;
}

.blue{
	color: blue;
}

/*CALL TO ACTION*/

.C2A{
	display: block;
	height: 70px;
	background-color: beige;
}

/*LEFT HAND SIDE*/

.left{
	display: inline-block;
	background-color: green;
	vertical-align: top;
	width: 30%;
}

.top-left{
	display: block;

}

.bottom-left{
	display: block;
	background-image: url("WordStream_imgs/left.png");
	background-repeat: no-repeat;
	height: 250px;
	width: 200px;

}

/*BODY*/

.body{
	display: inline-block;
	background-color: maroon;
	width: 60%;

}

.top-body img, div, p{
	display: inline-block;
	background-color: orange;
}

.bottom-body img, div{
	display: inline-block;
	background-color: purple;
}

.bottom-body h3, p, button{
	display: block;
}

/*UNIVERSAL CSS*/




